* {
    font-family: 'Gotham Rounded', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.results {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
body {
    padding: 30px;
    background-image: url(images/5348663.jpg);
    background-size: cover;
    overflow: hidden;
}
.hits {
    margin-bottom: 10px;
    font-size: 1.3em;
}
.hits::before {
    content: '♫';
    margin-right:6px;
}
.names {
    font-size: 1.2em;
}
.search-results, .search-artist {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}
#search-lyric {
    height: 40px;
    font-size: 1.2em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 2.2em;
    margin-bottom: 20px;
    margin-top: 40px;
}
.sub-title {
    margin-bottom: 30px;
}
footer {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    background-color:rgba(236, 233, 233, 0.5);
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer a {
    color: black;
}
.background-link a{
    text-decoration: none;
    margin-left: 20px;
    font-size: .6em;
}
.shazam-link a{
    margin-left: 20px;
    font-size: .8em;
    text-decoration: none;
}